.flex1{
    border:1px solid grey;
    display: flex;
    justify-content: space-between;
    padding: 25px 50px;
    align-items:center ;
    box-sizing: border-box;
}
.flex2{
    display: flex;
    width: 300px;
    justify-content: space-evenly;
    align-items:center ;
}