.App {
  text-align: center;
  color: #fff;
}
.App *{
  box-sizing: border-box;
}

.tab_nav:hover{
  position: relative;
  transform: translate(0, 5px);
  border:1px solid skyblue;
  box-sizing: border-box;
  
}